<p>Nuevo heroe <small>adds</small></p>

<div fxLayout="row" fxLayoutGap="40px">

  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="40px">
    <mat-form-field fxFlex="100">
        <mat-label>Super Héroe</mat-label>
        <input matInput
               type="text"
               required>
    </mat-form-field>

    <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput
        type="text"  
        required>
    </mat-form-field> 
</div>

    <mat-form-field >
        <mat-label>Primera Aparición</mat-label>
        <input matInput
        type="text"  
        required>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Personajes</mat-label>
        <input matInput
        type="text"  
        required>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Creador</mat-label>
        <input matInput
        type="text"  
        required>
    </mat-form-field>
 </div>
</div>
