<mat-sidenav-container fullscreen>
   <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
        <span>Menú</span>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            
            <mat-icon>menu</mat-icon>
    
        </button>
    </mat-toolbar>
    <mat-nav-list>
        <mat-list-item>
            <a routerLink="./listado">
                <span>Listado de Héroes</span>
            </a>
        </mat-list-item>
     

    </mat-nav-list>
   </mat-sidenav>

<mat-toolbar>
    <button mat-icon-button
    (click)="sidenav.toggle()">
        
        <mat-icon>menu</mat-icon>

    </button>
</mat-toolbar>

<router-outlet></router-outlet>
</mat-sidenav-container>

